<mat-toolbar color="primary">
  <span>Image Event UI</span>
</mat-toolbar>
<main class="main">
  <div class="content">
    <div class="left-pane">
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input id="imageUrl" [(ngModel)]="imageUrl" placeholder="Image URL" class="form-input" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input id="description" [(ngModel)]="description" placeholder="Description" class="form-input" />
      </div>
      <button mat-raised-button color="accent" (click)="postImageEvent()">Post Image</button>
    </div>
    <div class="right-pane">
      <div *ngIf="latestEvent; else noContent">
        <img [src]="latestEvent.image.imageUrl" alt="Latest Image"/>
        <p>Url: {{ latestEvent.image.imageUrl }}</p>
        <p>Description: {{ latestEvent.image.description }}</p>
        <p>Last Updated: {{ latestEvent.image.timeStamp | dateTimeLocal }}</p>
        <p>Events in Last Hour: {{ latestEvent.hourlyCount }}</p>
      </div>
      <ng-template #noContent>
        <p>No Images Found</p>
      </ng-template>
    </div>
  </div>
</main>

<router-outlet/>
